<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<h1>My Shop</h1>
<div class="nav">
    <a href="/only-available">ONLY AVAILABLE</a>
    <a href="/cheapest-first">CHEAPEST FIRST</a>
    <a href="/contains-scythe">CONTAINS SCYTHE</a>
    <a href="/average-stock">AVERAGE STOCK</a>
    <a href="/most-expensive-available">MOST EXPENSIVE AVAILABLE</a>
</div>

<p>Search for:</p>

<form action="/search">
    <input type="search">
    <input type="submit">
</form>



<table>
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity of stock</th>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()} + 'Ft'"></td>
        <td th:text="${item.getInStock()}"></td>
    </tr>
    </tbody>

</table>


</body>
</html>