body {
    background-color: lightgray;
}

input {
    display: block;
}

p {
    font-size: 20px;
}

label {
    font-size: 10px;
}

.box {
    width: 280px;
    height: 30px;
}

#button {
    background-color: black;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    margin: 10px 10px 0px 0px;
}


div {
    background-color: white;
    padding: 10px;
    width: 25%;
    height: 40%;
}

