<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
</head>
<body>

<h1>Todos</h1>
<h2>New Todo</h2>

<form action="#" th:action="@{/todo/add}" th:object="${todo}" method="post">
    <input type="text" th:field="*{title}"/>
    <input type="submit" value="add">
</form>

<table>
    <thead>

    <th>Todo</th>
    <th>Actions</th>

    </thead>
    <tr th:each="todo : ${todos}">

        <td th:text="${todo.title}"></td>
                
        <td><a th:href="@{'/todo/' + ${todo.id} + '/delete'}">delete</a>
        <br>
        <a th:href="@{'/todo/' + ${todo.id} + '/edit'}">edit</a></td>
    </tr>

</table>

</body>
</html>