<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post list</title>
</head>
<body>

<a th:href="@{/submit}">Submit new post</a>

    <h2>
        Trending posts
    </h2>

    <table>
        <tr th:each="post : ${posts}">
            <td th:text="${post.votes}"></td>
            <td><a th:href="@{'/' +${post.id} + '/upvote'}">+</a></td>
            <td><a th:href="@{'/' +${post.id} + '/downvote'}">-</a></td>
            <td><a th:text="${post.title}" th:href="@{${post.url}}" target="_blank"></a></td>
            <td th:text="${post.createdAt}"></td>
        </tr>
    </table>

</body>
</html>