<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new post</title>
</head>
<body>

    <h1>
        Submit a new post
    </h1>

    <form action="#" th:action="@{/add}" method="post" th:object="${post}">

        <label for="title" th:text="'Title: '"></label>
        <input type="text" name="title" id="title" th:field="*{title}">

        <label for="url" th:text="'URL: '"></label>
        <input type="url" name="url" id="url" th:field="*{url}">

        <input type="submit" value="Submit">

    </form>

</body>
</html>