<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<ul>
    <a href="/login"> <li> Information </li> </a>
    <a th:href="@{'/nutritionStore?id=' + ${currentFox.id}}"> <li> Nutrition Store </li> </a>
    <a th:href="@{'/trickCenter?id=' + ${currentFox.id}}"><li> Trick Center </li> </a>
    <a href="#"> <li> Action History</li> </a>
</ul>

<form action="#" th:action="@{'/trickCenter?id=' + ${currentFox.id}}" method="post">
    <label>Tricks</label>
    <select name="trick">
        <option value="learn HTML">Learn HTML</option>
        <option value="save the world">Save the world</option>
        <option value="bake cookies">Bake cookies</option>
        <option value="hunt">Hunt</option>
    </select>

    <input type="submit" value="Learn">
</form>

</body>
</html>